<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/xreatepin.css">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="subDiv">
            <h1>Create pin</h1>
            <input type="submit" value="Publish">
        </div>
        <div class="in">
            <input type="file" name="file">
            <input type="text" placeholder="title" name="title">
        </div>
    </form>
</body>
</html>