<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="container">
        <div class="usersPosts">
              <% users.map((user)=>{%>
        <% user.posts.map((v)=>{%>
            <div class="card">
            <img src="/images/uploads/<%=v.files%>" alt="file">
            <h1><%=v.title%></h1>
        </div>
            <%})%>
            <%})%>
        </div>
    </div>
</body>
</html>