<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="signup">
    <div class="logo">
      <h1>MT</h1>
    </div>
    <h1>Sign up</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="Full Name" name="fullname"  />
        <input type="text" placeholder="Username"  name="username" />
        <input type="email" placeholder="Email" name="email"  />
        <input type="password" placeholder="Password" name="password"  />
        <h4>Forgot your password?</h4>
        <input type="submit" value="Sign Up">
    </form>
        <!-- <p class="or">OR</p>
        <button class="btn fbk">
          <i
            class="fab fa-facebook fa-lg"
            style="color: white; padding-right: 10px"
          ></i
          ><a href="#">Continue with Facebook</a></button
        ><br />
        <button class="btn ggl">
          <i
            class="fab fa-google"
            style="color: rgb(11, 241, 22); padding-right: 10px"
          ></i
          ><a href="#">Continue with Google</a>
        </button> -->

        <footer>
          <p>
            By continuing, you agree to Memetop
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <p>Memetop account already exists <a href="/login">Log in</a></p>
        </footer>
  </div>
</body>
</html>